*::before, *::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Minion Pro Regular;
  src: url(../assets/font/MinionPro-Regular.woff);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  color: #E8E8E8;
  font-family: Minion Pro Regular, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: #F3ECDB;
  letter-spacing: 5px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 8px;
}

p {
  font-size: 1.5rem;
}

section {
  padding: 6rem 0;
}

.container {
  width: 65%;
  margin: 0 auto;
}

hr {
  border-style: none;
}

.separator {
  border-top: 1px solid #ABABAB;
  margin-bottom: 2.5rem;
}

	/*** ANIMATIONS ****/

	@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }