---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
	<header>
		<div class="hero">
			<div class="hero-heading">
				<p class="hero-subtitle">Coming Soon</p>
				<h1 class="hero-title">Great Seal Studios</h1>
			</div>
		</div>
	</header>
	<main>
		<section class="newsletter">
			<div class="container">
				<div class="newsletter-layout">
					<div class="newsletter-text">
						<p>Join our inner circle to stay updated on our progress! Worry not! We shall not spam you.</p>
					</div>
					<div class="newsletter-form">
					<!-- to figure out later rip -->
					 <form action="newsletter-sub">
						<input type="email" placeholder="Email" class="input-email">
						<input type="submit" class="submit-button" value="Sign me up">
					 </form>
					</div>
				</div>
			</div>
		</section>
		<section class="manifesto">
			<div class="container">
				<h2 class="title">Great Seal Manifesto</h2>
				<p class="subtitle">No great experience without a healthy creating process.</p>
					<p class="text">This means our creative team works closely together, sharing ideas, working towards the same goal: to produce a world worth living in and stories that stay with players for a very long time. We tend to take our time both for the sake of our games and for the well-being of our team members. We, too, need to have fun during the development stages – otherwise it all falls apart.</p>
				<p class="subtitle">Knowledge-sharing through visual storytelling.</p>
				<p class="text">The world of Great Seal was developed as a hobby project of a graduate student testing their knowledge they had gained throughout their years of academia with the sole desire to share them through a single medium: video games. This humble beginning is still very much prevalent. Our goal is to move beyond higher education’s ivory tower and share theories, concepts & ideas, which are often buried under academic jargon. We want to center the untold, the unknown, and a lot of what ifs through conscious storytelling and worldbuilding.</p>
				<p class="subtitle">Vision not for sale.</p>
				<p class="text">The greed of higher-ups and incompetence of executives have long been a plague in any industry that relies on the work of artists and creatives. Staying independent is the only way to avoid having our ideas sold out for the highest bidder and getting slaps on our wrists every time we dare to think outside the box. Nothing really blooms in cages. Of course, this decision will highly influence our speed and finances – a reality that we have made peace with and prepared for.</p>
				<p class="subtitle">Respect for our community.</p>
				<p class="text">Without them, there is no way to bring our stories to life; they are among the essential cornerstones upon which this studio is built. We understand that every penny matters in this current economy; hence, we will not be asking our fellow gamers to purchase countless expansions in order to receive a full experience. To ensure that people get what they pay for, we aim to create rich tales within fantastical worlds for folks to immerse themselves in, while also staying true to our creative vision. In addition, we wish to build and nurture a healthy community with a strong sense of belonging. This community shall be ever-present: the world of Great Seal does not cease to exist once players hit “Exit Game.”</p>
			</div>
		</section>
	</main>
	<footer>
		<div class="footer-socials">
			<a href="https://twitter.com/GreatSealStudio" class="social-btn"><img src="" alt="Twitter"></a>
			<a href="https://bsky.app/profile/greatsealstudios.bsky.social" class="social-btn"><img src="" alt="Bluesky"></a>
			<a href="https://instagram.com/greatsealstudio" class="social-btn"><img src="" alt="Instagram"></a>
			<a href="https://greatsealstudios.tumblr.com" class="social-btn"><img src="" alt="Tumblr"></a>
		</div>
		<div class="footer-copy">
			<p class="footer-text">
				Great Seal Studios © 2025 
			</p>
			<a href="/privacy-policy" class="footer-text footer-link">Privacy Policy</a>
		</div>
	</footer>
</MainLayout>

<style>

	/*** HEADER ****/

	.hero {
		height: 100vh;
		background-image: url("/public/images/tovalandslide.avif");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-heading {
		text-align: center;
	}

	.hero-title {
		font-size: 5rem;
		color: #f7e1a9;
		letter-spacing: 10px;
		font-weight: 500;
	}

	.hero-subtitle {
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 7px;
	}

	/*** CONTENT SECTION ****/

	.title {
		text-align: center;
		padding-bottom: 6rem;
	}

	.subtitle {
		color: #F3ECDB;
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: 3px;
		text-transform: uppercase;
		padding-bottom: 5rem;
	}

	.text {
		line-height: 170%;
	}

	.text:not(:last-child) {
		padding-bottom: 7rem;
	}

	/*** NEWSLETTER SECTION ****/

	.newsletter {
		background-color: #161616;
	}

	.newsletter-layout {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	.newsletter-text {
		flex: 1;
	}

	.newsletter-form {
		flex: 1;
	}

	.input-email {
		width: 20rem;
		height: 2.5rem;
		padding: 1rem;
		margin-right: .5rem;
	}

	.submit-button {
		height: 2.5rem;
		padding: 0 1.7rem;
		background-color: #f7e1a9;
		color: #111;
		font-size: 1rem;
		font-weight: 600;
		text-transform: uppercase;
		border-style: none;
		cursor: pointer;
	}


</style>
